<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xm.lib.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.act.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  -->
        <activity android:name=".ui.act.CommonAct" />

        <!--  -->
        <activity android:name=".ui.act.ComponentAct" />

        <!--  -->
        <activity android:name=".ui.act.downloader.DownloaderV2Act" />
        <activity android:name=".ui.act.downloader.DownloaderActivity" />

        <!--  -->
        <activity android:name=".ui.act.MediaAct" />

        <!--  -->
        <activity android:name=".ui.act.PayAct" />

        <!--  -->
        <activity android:name=".ui.act.ShareAct" />

        <!--  -->
        <activity android:name=".ui.act.WebAct" />

        <!--  -->
        <activity android:name=".ui.act.StatisticsAct" />
        <activity android:name=".ui.act.downloader.M3u8DownloaderV2Act" />
        <activity android:name=".ui.act.PrimaryTestActivity" />
        <activity
            android:name=".ui.act.PrimaryActivityA"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard" />
        <activity android:name=".ui.act.PrimaryService" />
        <activity android:name=".ui.act.PrimaryBroadcast" />
        <activity android:name=".ui.act.PrimaryContentProvider" />
        <activity android:name=".ui.act.PrimaryCache" />
        <activity android:name=".ui.act.PrimaryThread" />
        <activity android:name=".ui.act.PrimaryAniProperty" />
        <activity android:name=".ui.act.PrimaryDrawlayout" />
        <activity android:name=".ui.act.PrimaryWeb" />
        <activity android:name=".ui.act.PrimaryActivityB" />

        <!-- 启动模式设置 -->
        <activity
            android:name=".ui.act.PrimaryStandard"
            android:launchMode="standard" />
        <activity
            android:name=".ui.act.PrimarySingleTop"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.act.PrimarySingleTask"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.PrimarySingleInstance"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.act.PrimaryAniTween" />
        <activity android:name=".ui.act.PrimaryAniFrame"></activity>
    </application>

</manifest>